p {
	font-family: Georgia, Times New Roman;
	font-size: 11pt;
	color: black;
	line-height: 17pt;
	text-indent: 1.5em;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	hyphens: auto;
	text-align: justify;
}

p.dedication {
	text-indent: 0px;
	padding-top: 5em;
	page-break-before: always;
	text-align: center;
}

p.first {
	text-indent: 0px;
}

h1 {
	font-family: Georgia, Times New Roman;
	font-size: 20pt;
	color: black;
	text-align: center;
	line-height: 30pt;
	hyphens: none;
	page-break-before: always;
	padding-top: 5em;
}

h2 {
	font-family: Georgia, Times New Roman;
	font-size: 16pt;
	color: black;
	text-align: center;
	line-height: opx;
	hyphens: none;
	page-break-before: always;
	padding-bottom: 3em;
	line-height: 25pt;
}

blockquote.letter {
	font-family: Georgia, Times New Roman;
	font-size: 10pt;
	margin-left: 3em;
	color: black;
	line-height: 17pt;
	hyphens: auto;
	text-align: justify;
	padding-right: 7em;
}

blockquote.verse {
	font-family: Georgia, Times New Roman;
	font-size: 10pt;
	text-align: center;
	color: black;
	line-height: 17pt;
	hyphens: auto;
}

img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 17pt;
    padding-bottom: 17pt;
}
	
span.caps {
    text-transform: uppercase;
}
